PORT=3000

DB_HOST=localhost
DB_USER=root
DB_PASSWORD=your_mysql_password_here
DB_NAME=honda_advisor_db
DB_PORT=3306

JWT_SECRET=honda_advisor_super_secret_key_change_later
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:4200
NODE_ENV=development